*~

# backend
backend/repos
backend/docker
backend/vendor
backend/test

# frontend
frontend/node_modules
frontend/public/
frontend/npm-debug.log
frontend/yarn-error.log

frontend/html/.DS_Store
frontend/html/node_modules

frontend/html/.env.local
frontend/html/.env.*.local
frontend/html/npm-debug.log*
frontend/html/yarn-debug.log*
frontend/html/yarn-error.log*

# connection-test
test/connection-test/goapi2mysql-connection/vendor/
test/connection-test/goapi2mysql-connection/Gopkg.*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# docker
.docker-sync
docker/db/data
