[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock

[mysqldump]
quick

[client]
default-character-set=utf8mb4
socket=/var/run/mysqld/mysqld.sock
port = 3306
user = root
password = root